* {
  box-sizing: border-box;
  color: #231C2B;
}
body {
  margin: 0;
  background-color: #F2EEE4;
  font-family: "Nanum Myeongjo", serif;
}
/*header styles*/
header {
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flow-root;
  margin: 0px auto;
  background-color: #E2DCCA;
}
nav {
  float: right;
}
/* Dropdown Button */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: transparent;
  font-size: 16px;
  border: none;
  padding: 20px 45.8px;
  margin-left: 20px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  font-style: normal;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #A68794;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  min-width: 150px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #E1DAC7;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #EECD2A;
  color: #212A4F;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #A68794;
  color: #E1DAC7;
}
.title {
  margin-top: 23vh;
  position: absolute;
  bottom: 20vh;
  left: 20vw;
}
.background-image {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/snflower-1.jpg");
  background-size: cover;
  opacity: 30%;
}
.white-rectangle {
  width: 100vw;
  height: 100vh;
  background-color: #F2EEE4;
  position: absolute;
  opacity: 60%;
  top: 58px;
}
h3 {
  margin: 0px auto;
  margin-bottom: 30px;
  padding: 0;
  font-size: 50px;
/*  background-color: red;*/
  text-align: center;
  color: #6A3B67;
}
h2 {
  margin: 0px auto;
  padding: 0;
  font-size: 85px;
/*  background-color: purple;*/
  text-align: center;
}
h1 {
  margin: 0px auto;
  padding: 0;
  font-size: 16vw;
/*  background-color: purple;*/
  text-align: center;
  color: #6A3B67;
}
p {
  width: 40vw;
  margin: 0px auto;
  margin-top: 50px;
  font-size: 40px;
}