* {
  box-sizing: border-box;
  color: #5a4870;
}
body {
  margin: 0;
  background-color: #32283E;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}
/*header styles*/
header {
  width: 100vw;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
  display: flow-root;
  margin: 0px auto;
  background-color: transparent;
  position: absolute;
  top: 0px;
  z-index: 2;
}
nav {
  float: right;
}
/* Dropdown Button */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: transparent;
  font-size: 16px;
  border: none;
  padding: 30px 60px;
  margin-right: 70px;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #F2EEE4;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-size: 16px;
  display: none;
  position: absolute;
  background-color: #463857;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  min-width: 173px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #F2EEE4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #EECD2A;
  color: #212A4F;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #463857;
  color: #F2EEE4;
}

.title {
  margin-top: auto;
  position: absolute;
  bottom: 25vh;
  left: 20vw;
  z-index: 2;
}
.background-image {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/sunflower-1.jpg");
  background-size: cover;
  opacity: 30%;
  position: absolute;
  top: 0px;
  z-index: 0;
}
.rectangle {
  width: 100vw;
  height: 90vh;
  background-color: #251e2e;
  position: absolute;
  opacity: 60%;
  top: 0px;
  z-index: 1;
}
h1 {
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 4vw;
  color: #F2EEE4;
  position: absolute;
  bottom: 25vh;
  left: 15vw;
  z-index: 2;
}
/* main */
.cos-background-image {
  width: 100vw;
  height: 90vh;
  background-image: url("../../images/science.jpg");
  background-size: cover;
  opacity: 30%;
}
.classwork-background-image {
  width: 100vw;
  height: 90vh;
  background-image: url("../../images/yellow-forest.jpg");
  background-size: cover;
  opacity: 30%;
}
.avoid-background-image {
  width: 100vw;
  height: 90vh;
  background-image: url("../../images/antenna.jpg");
  background-size: cover;
  opacity: 30%;
}

/*tile*/
.container {
  position: relative;
  float: left;
  top: 0px;
}
.image {
  display: block;
  width: calc(100vw / 4);
  height: calc(100vw / 4);
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100vw / 4);
  height: calc(100vw / 4);
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}
.container:hover .overlay {
  opacity: 80%;
}
.text {
  width: 70%;
/*  background-color: red;*/
  color: #F2EEE4;
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 30%;
  -webkit-transform: translate(-20%, -20%);
  -ms-transform: translate(-20%, -20%);
  transform: translate(-20%, -20%);
}
/*tile text*/
h2 {
  font-size: 30px;
  margin: 0px;
  margin-bottom: 20px;
  color: white;
}
h3 {
  font-size: 25x;
  line-height: 1.5;
  margin: 0px;
  color: white;
}

/*SOCIAl MEDIA BEST WORKS*/
.social-content-container {
  margin-top: 100px;
}
.page-titles {
  font-size: 60px;
  margin: 0px;
  margin-left: 7vw;
  margin-bottom: 80px;
  color: #F2EEE4;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4%;
  margin-left: 7vw;
  margin-right: 7vw;
}
.square {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  background-color: #1E1E1E;
  color: #fff;
}
.square img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.square.fullImg {
  padding: 0;
}
.square.fullImg img {
  object-fit: cover;
}
.tv-image-container {
  width: 86vw;
  margin: 0px auto;
}
.tv-image {
  width: 86vw;
  margin-top: 100px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

footer {
  width: 100vw;
  height: 450px;
  background-color: #32283E;
}
h5 {
  font-size: 30px;
  line-height: 1.5;
  color: #F2EEE4;
}
p {
  margin: 0px auto;
  margin-top: 50px;
  font-size: 20px;
  line-height: 1.75;
  color: #F2EEE4;
}
.footer-text-container {
  width: calc(100vw / 3);
  height: 450px;
  padding-top: 80px;
  padding-left: 150px;
  float: left;
}
.links-top {
  margin: 0px auto;
  margin-top: 30px;
  font-size: 20px;
  line-height: 2;
  color: #F2EEE4;
}
.links {
  margin: 0px auto;
  font-size: 20px;
  line-height: 2;
  color: #F2EEE4;
}